body {
    width: 100%;
    color: white;
    line-height: 3.0; 
}

main {
    background: #422754;
    margin-top: -20px;
    padding-left: 70px;
    padding-top: 10px;
    font-family: 'Zen Kurenaido', sans-serif;
    

}

#descri {
    position: absolute;
    top: 49px;
    left: 78px;
    font-family: 'Zen Kurenaido', sans-serif;
}

#home{
    position: absolute;
    top: 29px;
    left: 1078px;
    font-family: 'Zen Kurenaido', sans-serif;

}

#about {
    position: absolute;
    top: 29px;
    left: 1160px;
    font-family: 'Zen Kurenaido', sans-serif;

}


#footer {
    min-height: 60px;
    background-color: #1c1c2c;
    width:101%;
    text-align: center;
    padding-top: 2px;
    font-family: sans-serif;
}

.imagens {
  text-align: center; 
  border: solid 4px;
}


.nome {


}

