body {
    color: white;
    line-height: 3.0; 
}

main {
    background: #422754;
    margin-top: -20px;
    padding-left: 70px;
    padding-top: 10px;
    font-family: 'Zen Kurenaido', sans-serif;
    

}

#descri {
    position: absolute;
    top: 49px;
    left: 78px;
    font-family: 'Zen Kurenaido', sans-serif;
}

#home{
    position: absolute;
    top: 29px;
    left: 1078px;
    font-family: 'Zen Kurenaido', sans-serif;

}

#about {
    position: absolute;
    top: 29px;
    left: 1160px;
    font-family: 'Zen Kurenaido', sans-serif;
    color: white;

}

#footer {
    min-height: 60px;
    background-color: #1c1c2c;
    width:100%;
    text-align: center;
    padding-top: 2px;
    font-family: sans-serif;
}

.imagens {
  text-align: center; 
  border: solid 4px;
}

.imagens img {
  width: 200px;
  height: 200px;
}

a:link{
    text-decoration:none;
    color:white;
    }
    
    a:visited{
    text-decoration:none;
    color:white;
    }
    
    a:hover{
    text-decoration:none;
    color:pink;
    }
    
    a:active{
    text-decoration:none;
    color:white;
    }
    
#sobre{
    text-align: center;
    font-family: Roboto

}

#info{
    text-align: center;
    line-height: 22px;
    font-family: 'Zen Kurenaido', sans-serif;

}

#email{
    position: absolute;
    left: 380px;
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 16px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#sitej{
    position: absolute;
    left: 710px;
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 16px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}